WebContent/WEB-INF/wsdl/localhost_8080/WSC-Gen/GeneratorWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.ws.gipsy.cse.concordia.ca/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.ws.gipsy.cse.concordia.ca/" name="GeneratorWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.ws.gipsy.cse.concordia.ca/" schemaLocation="http://localhost:8080/WSC-Gen/GeneratorWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="start">
<part name="parameters" element="tns:start"/>
</message>
<message name="startResponse">
<part name="parameters" element="tns:startResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="setDefault">
<part name="parameters" element="tns:setDefault"/>
</message>
<message name="setDefaultResponse">
<part name="parameters" element="tns:setDefaultResponse"/>
</message>
<message name="setNumberOfConcepts">
<part name="parameters" element="tns:setNumberOfConcepts"/>
</message>
<message name="setNumberOfConceptsResponse">
<part name="parameters" element="tns:setNumberOfConceptsResponse"/>
</message>
<message name="setNumberOfServices">
<part name="parameters" element="tns:setNumberOfServices"/>
</message>
<message name="setNumberOfServicesResponse">
<part name="parameters" element="tns:setNumberOfServicesResponse"/>
</message>
<message name="setSolvableProblem">
<part name="parameters" element="tns:setSolvableProblem"/>
</message>
<message name="setSolvableProblemResponse">
<part name="parameters" element="tns:setSolvableProblemResponse"/>
</message>
<message name="setCompleteSolutionDepth">
<part name="parameters" element="tns:setCompleteSolutionDepth"/>
</message>
<message name="setCompleteSolutionDepthResponse">
<part name="parameters" element="tns:setCompleteSolutionDepthResponse"/>
</message>
<message name="setTaskWSDLFileName">
<part name="parameters" element="tns:setTaskWSDLFileName"/>
</message>
<message name="setTaskWSDLFileNameResponse">
<part name="parameters" element="tns:setTaskWSDLFileNameResponse"/>
</message>
<message name="setServiceWSDLFileName">
<part name="parameters" element="tns:setServiceWSDLFileName"/>
</message>
<message name="setServiceWSDLFileNameResponse">
<part name="parameters" element="tns:setServiceWSDLFileNameResponse"/>
</message>
<message name="setGenerateIntermediateFiles">
<part name="parameters" element="tns:setGenerateIntermediateFiles"/>
</message>
<message name="setGenerateIntermediateFilesResponse">
<part name="parameters" element="tns:setGenerateIntermediateFilesResponse"/>
</message>
<message name="calculateMinNumberConcepts">
<part name="parameters" element="tns:calculateMinNumberConcepts"/>
</message>
<message name="calculateMinNumberConceptsResponse">
<part name="parameters" element="tns:calculateMinNumberConceptsResponse"/>
</message>
<message name="getErrorMessages">
<part name="parameters" element="tns:getErrorMessages"/>
</message>
<message name="getErrorMessagesResponse">
<part name="parameters" element="tns:getErrorMessagesResponse"/>
</message>
<message name="setIgnoreMinimum">
<part name="parameters" element="tns:setIgnoreMinimum"/>
</message>
<message name="setIgnoreMinimumResponse">
<part name="parameters" element="tns:setIgnoreMinimumResponse"/>
</message>
<message name="getFileGenerated">
<part name="parameters" element="tns:getFileGenerated"/>
</message>
<message name="getFileGeneratedResponse">
<part name="parameters" element="tns:getFileGeneratedResponse"/>
</message>
<message name="setSolutionsList">
<part name="parameters" element="tns:setSolutionsList"/>
</message>
<message name="setSolutionsListResponse">
<part name="parameters" element="tns:setSolutionsListResponse"/>
</message>
<message name="setGipsy">
<part name="parameters" element="tns:setGipsy"/>
</message>
<message name="setGipsyResponse">
<part name="parameters" element="tns:setGipsyResponse"/>
</message>
<message name="setBpelFileName">
<part name="parameters" element="tns:setBpelFileName"/>
</message>
<message name="setBpelFileNameResponse">
<part name="parameters" element="tns:setBpelFileNameResponse"/>
</message>
<message name="setOwlFileName">
<part name="parameters" element="tns:setOwlFileName"/>
</message>
<message name="setOwlFileNameResponse">
<part name="parameters" element="tns:setOwlFileNameResponse"/>
</message>
<message name="setWSLAFileName">
<part name="parameters" element="tns:setWSLAFileName"/>
</message>
<message name="setWSLAFileNameResponse">
<part name="parameters" element="tns:setWSLAFileNameResponse"/>
</message>
<message name="infoButton">
<part name="parameters" element="tns:infoButton"/>
</message>
<message name="infoButtonResponse">
<part name="parameters" element="tns:infoButtonResponse"/>
</message>
<portType name="GeneratorWS">
<operation name="start">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/startRequest" message="tns:start"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/startResponse" message="tns:startResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/start/Fault/Exception"/>
</operation>
<operation name="setDefault">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setDefaultRequest" message="tns:setDefault"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setDefaultResponse" message="tns:setDefaultResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setDefault/Fault/Exception"/>
</operation>
<operation name="setNumberOfConcepts">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setNumberOfConceptsRequest" message="tns:setNumberOfConcepts"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setNumberOfConceptsResponse" message="tns:setNumberOfConceptsResponse"/>
</operation>
<operation name="setNumberOfServices">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setNumberOfServicesRequest" message="tns:setNumberOfServices"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setNumberOfServicesResponse" message="tns:setNumberOfServicesResponse"/>
</operation>
<operation name="setSolvableProblem">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setSolvableProblemRequest" message="tns:setSolvableProblem"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setSolvableProblemResponse" message="tns:setSolvableProblemResponse"/>
</operation>
<operation name="setCompleteSolutionDepth">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setCompleteSolutionDepthRequest" message="tns:setCompleteSolutionDepth"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setCompleteSolutionDepthResponse" message="tns:setCompleteSolutionDepthResponse"/>
</operation>
<operation name="setTaskWSDLFileName">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setTaskWSDLFileNameRequest" message="tns:setTaskWSDLFileName"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setTaskWSDLFileNameResponse" message="tns:setTaskWSDLFileNameResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setTaskWSDLFileName/Fault/Exception"/>
</operation>
<operation name="setServiceWSDLFileName">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setServiceWSDLFileNameRequest" message="tns:setServiceWSDLFileName"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setServiceWSDLFileNameResponse" message="tns:setServiceWSDLFileNameResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setServiceWSDLFileName/Fault/Exception"/>
</operation>
<operation name="setGenerateIntermediateFiles">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setGenerateIntermediateFilesRequest" message="tns:setGenerateIntermediateFiles"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setGenerateIntermediateFilesResponse" message="tns:setGenerateIntermediateFilesResponse"/>
</operation>
<operation name="calculateMinNumberConcepts">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/calculateMinNumberConceptsRequest" message="tns:calculateMinNumberConcepts"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/calculateMinNumberConceptsResponse" message="tns:calculateMinNumberConceptsResponse"/>
</operation>
<operation name="getErrorMessages">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/getErrorMessagesRequest" message="tns:getErrorMessages"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/getErrorMessagesResponse" message="tns:getErrorMessagesResponse"/>
</operation>
<operation name="setIgnoreMinimum">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setIgnoreMinimumRequest" message="tns:setIgnoreMinimum"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setIgnoreMinimumResponse" message="tns:setIgnoreMinimumResponse"/>
</operation>
<operation name="getFileGenerated">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/getFileGeneratedRequest" message="tns:getFileGenerated"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/getFileGeneratedResponse" message="tns:getFileGeneratedResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/getFileGenerated/Fault/Exception"/>
</operation>
<operation name="setSolutionsList">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setSolutionsListRequest" message="tns:setSolutionsList"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setSolutionsListResponse" message="tns:setSolutionsListResponse"/>
</operation>
<operation name="setGipsy">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setGipsyRequest" message="tns:setGipsy"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setGipsyResponse" message="tns:setGipsyResponse"/>
</operation>
<operation name="setBpelFileName">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setBpelFileNameRequest" message="tns:setBpelFileName"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setBpelFileNameResponse" message="tns:setBpelFileNameResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setBpelFileName/Fault/Exception"/>
</operation>
<operation name="setOwlFileName">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setOwlFileNameRequest" message="tns:setOwlFileName"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setOwlFileNameResponse" message="tns:setOwlFileNameResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setOwlFileName/Fault/Exception"/>
</operation>
<operation name="setWSLAFileName">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setWSLAFileNameRequest" message="tns:setWSLAFileName"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setWSLAFileNameResponse" message="tns:setWSLAFileNameResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/setWSLAFileName/Fault/Exception"/>
</operation>
<operation name="infoButton">
<input wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/infoButtonRequest" message="tns:infoButton"/>
<output wsam:Action="http://soap.ws.gipsy.cse.concordia.ca/GeneratorWS/infoButtonResponse" message="tns:infoButtonResponse"/>
</operation>
</portType>
<binding name="GeneratorWSPortBinding" type="tns:GeneratorWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="start">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="setDefault">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="setNumberOfConcepts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setNumberOfServices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setSolvableProblem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setCompleteSolutionDepth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setTaskWSDLFileName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="setServiceWSDLFileName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="setGenerateIntermediateFiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateMinNumberConcepts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getErrorMessages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setIgnoreMinimum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFileGenerated">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="setSolutionsList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setGipsy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setBpelFileName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="setOwlFileName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="setWSLAFileName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="infoButton">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeneratorWSService">
<port name="GeneratorWSPort" binding="tns:GeneratorWSPortBinding">
<soap:address location="http://localhost:8080/WSC-Gen/GeneratorWSService"/>
</port>
</service>
</definitions>